
@{
    ViewData["Title"] = "Check Your Phone";
    Layout = "~/Views/Shared/_AuthLayOut.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top"
    <div class="alert alert-success text-center mt-4">

    <p>We’ve sent you an SMS with instructions to reset your password.</p>
</div>
</div>
</div>